.backgroundImg{
    background-image: url('../images/blockchain.png');
    background-size: cover;
  }
.backgroundImg_escrow{
    background-image: url('../images/Transcations_img.png');
    background-size: cover;
  }

h1 {
    margin: 2%;
    margin: 15px 25px 50px
}

div{
    margin-left: 2%;
    margin: 15px;
}

p {
    margin: 25px;
}


.btn{
    background-color: #00c2cb !important;
    margin-bottom: 25px;
}

.navbar-brand{
    margin-left: 20px;
}

.child {
   
    width: 100%;
}

.parent {
    margin-top: 70px;
    display: flex;
}

.navbar {
    background-color: #00c2cb;
}

.navbar-brand {
    color: #edebeb;
    font-weight: bold;
    font-size: 32px !important;
   
}

.navbar-subTitel{
    font-size: 18px !important;
}

.btn-delete { 
    background-color: #e6404b !important;
    margin-right: 15px;

}

.form-check{
    margin-top:70px;
    margin-left: -150px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: italic;
    font-size: 16px;
}
.form-check-confirm{
    margin-top:10px;
    margin-left: 50px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: italic;
    font-size: 16px;
}


.main {
    text-align: center;
}

.myForm {
    margin-top: 150px;
}

.spinner-border { 
    width: 5rem !important;
    height: 5rem !important;
}